@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
    font-family: Arial, sans-serif;
    background-image: url(../img/to-do-list.jpg);
    background-repeat: no-repeat;
    background-size: cover;



}

h2 {
    text-align: center;
    font-family: 'Crete Round', serif;
    font-family: 'Lobster', ;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.input-container {
    margin-bottom: 20px;
}

.task-input {
    width: 200px;
    height: 25px;
}

.add-button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgb(9, 46, 34);
    padding: 10px;
    color: white;
}

input {
    border-radius: 20px;
    padding: 10px;

}

